@import "tailwindcss";

.font-shantell-sans {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 30,
        "SPAC" 0;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@keyframes spin3D {
  from { transform: rotateY(180deg) rotateZ(10deg) }
  to { transform: rotateY(540deg) rotateZ(10deg)}
}

.spin-3d { transform-style: preserve-3d;
	animation: spin3D 1.95s linear infinite; 
}
